/*CARD CSS -> (top5series)*/
/***********************************************************************************************************************/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --shadow: 3.5px 2.7px 2.9px -23px rgba(0, 0, 0, 0.043),
        8.5px 6.6px 6.8px -23px rgba(0, 0, 0, 0.062),
        16px 12.4px 12.9px -23px rgba(0, 0, 0, 0.077),
        28.6px 22.1px 23px -23px rgba(0, 0, 0, 0.092),
        53.5px 41.4px 43px -23px rgba(0, 0, 0, 0.111),
        128px 99px 103px -23px rgba(0, 0, 0, 0.15);
}

.containerofcards>h1 {
    margin: 20px;
}

.containerofcards {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #edf2f7;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    flex-wrap: wrap;
    justify-content: center;


}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--shadow);

}

.card:hover {
    transform: scale(1.08);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card>img {
    object-fit: cover;
    object-position: top;
    height: 290px;
    width: 300px;
    border-radius: 0px;

}

.cardinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardinfo span {
    padding: 10px;
}

.cardinfo :nth-child(n) {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.cardinfo button {
    background-color: rgb(104, 202, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

.cardinfo button:hover {
    box-shadow: black 1px 1px 10px 0px;
}

/***********************************************************************************************************************/


/*Hooks*/

.containerofhook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #015c46;
    color: white;
}

.containerofhook>h1 {
    font-size: 55px;
}

.containerofhook>button {
    padding: 20px 40px;
    margin: 20px;
    color: white;
    cursor: pointer;
    background-color: rgb(0, 37, 67);
    font-size: 30px;
    outline: none;
    border: 1px solid white;
    border-radius: 30px;

}

.containerofhook>button:hover,
.containerofhook>button:active {
    background-color: rgb(0, 24, 44);
}

.form {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#8c43a7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.form>h1 {
    margin: 40px;
    font-size: 70px;
    text-shadow: rgba(0, 0, 0, 0.552) 0px 5px;
}

.form>input {
    text-align: center;
    padding: 15px 200px;
    margin: 20px;
    font-size: 20px;
    outline: none;
    border: none;

}

.form>button {
    outline: none;
    border: none;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #9455ad;
    border: 2px solid white;
    font-size: large;
    cursor: pointer;
    color: white;
}

.form>button:hover{
    background-color: #37044b;
}